.content {
    position: absolute;
    top: 80px;
    left: 427px;

    gap: 20px;
    display: flex;
    flex-direction: column;
}
.view-more-button {
    background-color: var(--secondary-bg-color);
    transition:0.35s;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px;
}

.inner-view-more-button {


    background-color: var(--tertiary-bg-color);
    transition:0.35s;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px;
}