:root {
    --primary-bg-color: #161618;
    --secondary-bg-color: #222225;

    --primary-text-color: white;
    --secondary-text-color: #656567;
}

body {
    background-color: var(--primary-bg-color);
}

* {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: white;
}

ul {
    list-style-type: none;
}

.author-icon {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    margin-right: 6px;
}

.board-tab {
    display: flex;

    margin-bottom: 5px;
    border-radius: 6px 3px;
    background-color: #222225;
}

.game-icon {
    height: 16px;
    width: 16px;
    border-radius: 4px;
    object-fit: cover;
    opacity: 0.7;
    margin-right: 9px;
    margin-bottom: 10px;
    vertical-align: text-top;
}

.tab {
    margin-right: 8px;
    padding: 8px;
    cursor: pointer;
}

.collapsible-button {
    background-color: #222225;
    border: none;
    border-radius: 6px;
    padding: 8px;
    width: 100%;
    text-align: justify;
    cursor: pointer;

}

.collapsible-content {
    background-color: #222225;
    margin-top: 1px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
}