.sidebar {
    background-color: var(--secondary-bg-color);
    width: 240px;
    
    display: flex;
    flex-direction: column;
    
    position: fixed;
    left: 150px;
    top: 18px;

    padding-bottom: 45px;
    border-radius: 6px;
}
.logoBox{
    padding: 20px 20px 15px 20px;
    box-shadow: 0 4px 2px -2px #1d1d1f;
}
.menu{
    padding-left: 15px;

}
.sidebar-element{

    cursor: pointer;
    font-size:14px;
    padding: 6px;
}
.right-border{
    border-right: solid 3px #925fff;
}
.games-menu{
    overflow-y: scroll;
    max-height: 300px;

}