.sidebar {
    background-color: var(--secondary-bg-color);
    width: 240px;
    
    display: flex;
    flex-direction: column;
    
    position: fixed;
    left: 150px;
    top: 18px;

    padding-bottom: 45px;
    border-radius: 6px;
}
.logoBox{
    padding: 20px 20px 15px 20px;
    box-shadow: 0 4px 2px -2px #1d1d1f;
}
.menu{
    padding-left: 15px;

}
.sidebar-element{
    cursor: pointer;

    padding: 10px;
    border-radius:6px 0 0 6px;

    margin-bottom:2px;

    display: flex;
    align-items: center;

}
.news-by-games{
    padding-left: 20px;
    color:var(--secondary-text-color);

    font-size:12px;
    font-weight:800;
}

.selected-right-border{
    border-right: solid 3px var(--logo-color);
    background-color: var(--tertiary-bg-color);
}
.games-menu{
    overflow-y: scroll;
    height: 305px;
    margin-top:20px;
}