.top-menu {
    position: absolute;
    left: 425px;
    top: 18px;
    width: 750px;
}

.currentMatchesBar {
    width: 640px;
    display: flex;
    white-space: nowrap;
    overflow-x: hidden;

}

.fade-right {
    position: absolute;
    right: 100px;
    top: 0;

    width: 32px;
    height: 100%;

    background: linear-gradient(270deg, rgba(22, 22, 24, 1) 0%, rgba(22, 22, 24, 1) 35%, rgba(0, 212, 255, 0) 100%);;
}

.current-match-card {
    cursor: pointer;
    background-color: #222225;

    font-size: 12px;

    border-radius: 6px;
    padding: 8px;
    margin-right: 8px;

    display: inline-flex;
}

.signIn {
    position: absolute;
    right: 0;
    top: 0;
    border: none;

    background-color: var(--logo-color);
    padding: 8px 12px;
    border-radius: 6px;

    font-size: 12px;
    cursor: pointer;
    display: flex;
    text-align: center;

}